# Ignore RPG Maker MZ output build folder
game/Tests

# Ignore agent skills and workspace configs
.agents/
skills-lock.json

# Dependencies & Node
node_modules/
npm-debug.log*

# System & OS Files
.DS_Store
Thumbs.db
*.tmp
